<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

</head>
<body>
<div align="center">
    <h2>Edit User</h2>
    <form action="/edit" th:method="PATCH">
        <table border="0" cellpadding="5">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="${user.id}" readonly/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="${user.username}"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="${user.lastName}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="${user.email}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="${user.password}"/></td>
            </tr>
            <tr>
                <td th:each="role : ${allRoles}">
                    <input type="checkbox" name="selectedRoles" th:value="${role.name}"
                           th:text="${role.name}"
                           th:checked="${#lists.contains(user.roles, role)}"/>
                </td>
            </tr>
            <br/>
        </table>
        <br/>
        <td colspan="2"><input type="submit" value="Edit"></td>
        <br/>
        <br/>
        <a th:href="@{/logout}">LOGOUT</a>
    </form>
</div>
</body>
</html>